body{
    text-align: justify;
    margin-right: 5%;
    margin-left: 5%;
}
#columna{
    display: flex;
}
#columnaIzquierda{
    border: thin solid black;
    flex: 50%;
    margin-right: 5%;
    padding: 1%;
}

#columnaDerecha{
    border: thin solid black;
    flex: 50%;
    padding: 1%;
}