p:nth-of-type(1),p:nth-of-type(2){
    display: inline;
}
#propiedades1{
    margin: 50px;
    border: solid thin blue;
    
}
.propiedades2{
    margin: 10px;
    border: thin dotted red;
}
body{
    margin: 0px;
}
#imagen{
    float: left;
}
#grande{
    font-size: 200px;
    text-align: right;
}