
#menu {
    top: 0px;
    left: 0px;
    width: 20%;
    height: 100%;
    background-color: bisque;
    position: fixed;
    min-width: 180px;
    max-width: 190px;
}
#texto {
    margin-left: 22%;
}
a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'Times New Roman';
    display: block;
    padding: 10px;
    border-bottom: 3px solid black ;
    line-height: 50px;
}
ul>li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border-bottom: 1px solid black ;
}
ul>li:hover>a {
    color: brown;
    font-weight: bold;
    border-bottom: 3px solid brown;
}