html, body{
    margin: 0px;
    padding: 0px;
    scroll-padding-top: 210px;
}
h1{
    position: fixed;
    text-align: center;
    background-color: gray;
    padding-bottom: 161px;
    margin: 0px;
    top: 0px;
    width: 100%;
}
ul{
    position: fixed;
    list-style: none;
    background-color: gray;
    padding-left: 2%;
    border-right: 5px dotted black;
    height: 700px;
    padding-right: 5%;
    top: 182px;
}
a{
    text-decoration: none;
    color: blue;
    padding-top: 40%; 
    display: block;
}
#texto{
    margin-top: 225px; 
    margin-left: 15%;
}